<%-include("partials/header.ejs")%>
<section class="cart">
    <div class="row row-cols-1 gy-5 mx-auto">
        <%if(products.length!=0){for(var i=0;i<products.length;i++){%>
                <div class="col">   
                    <div class="row">
                        <div class="col">
                            <div class="card mx-auto" style="width: 20rem;">
                                <img src="<%=products[i].imgUrl%> " class="card-img-top" alt="..." height="300px">
                                <div class="card-body">
                                  <h5 class="card-title"><%=products[i].name%></h5>
                                  <h2 class="card-text">Rs <%=products[i].price%></h2>
                                </div>
                              </div> 
                        </div>
                       <div class="col">
                           <div class="my-5 my-sm-1">
                               <form action="/changeQty" method="POST">
                                <h2>Quantity:      <input onChange="this.form.submit()" class="qty" type="number" name="qty" min="1" max="20" value="<%=qty[i]%>"></h2>
                               </form>
                           </div>
                           <div class="my-5">
                            <a href="#"><button class="btn-delete"><i class="fas fa-trash-alt"></i> Delete from cart</button></a> 
                           </div>
                           <div class="my-5">
                            <a href="#"><button class="btn-move"><i class="fas fa-heart"></i> Move to wishlist</button></a> 
                           </div>
                       </div>
                    </div>      
                </div>
                <hr>      
        <%}}else{%>
            <h1>The cart is Empty!</h1>
     <%}%>
    </div>
    <div class="btn-buy-div"><button class="btn-buy">BUY NOW</button></a></div>
</section>

<!-- javascript -->
<script type="text/javascript" src="./js/cart.js"></script>
<%-include("partials/footer.ejs")%>