<%-include("partials/header.ejs")%>
<section class="cart">
        <%if(products.length!=0){for(var i=0;i<products.length;i++){%>
                <div class="center">   
                    <div class="in mx-5">
                        <div class="card" style="width: 175px;">
                            <img src="<%=products[i].imgUrl%> " class="card-img-top" alt="..." height="100px">
                                <div class="card-body">
                                  <p class="card-title"><%=products[i].name%></p>
                                  <h5 class="card-text">Rs <%=products[i].price%></h5>
                                  </div>
                              </div>  
                    </div>
               
                          <div class="in-2 mx-5">
                            <div class="my-3">
                                <form action="/changeQty" method="POST">
                                 <input type="hidden" name="index" value="<%=i%>">
                                 <h5>Quantity:      <input onChange="this.form.submit()" class="qty" type="number" name="qty" min="1" max="20" value="<%=qty[i]%>"></h5>
                                </form>
                            </div>
                            <div class="my-3">
                                <form action="/deleteFromCart" method="POST">
                                 <input type="hidden" name="index" value="<%=i%>">
                                     <button type="submit" class="btn-delete"><i class="fas fa-trash-alt"></i> Delete from cart</button>
                                 </form>
                             </div>
                            <div class="my-3">
                             <a href="#"><button class="btn-move"><i class="fas fa-heart"></i> Move to wishlist</button></a> 
                            </div>
                          </div>
                       
                       </div>  
                       <hr>  
                     
        <%}%>
        <div class="btn-buy-div"><h2 class="total"></h2><button class="btn-buy">BUY NOW</button></a></div> 
        <%}else{%>
            <h1 class="my-5 p-md-5 py-5">The cart is Empty!</h1>
     <%}%>
 
</section>
<script src="/js/cart.js"></script>
<%-include("partials/footer.ejs")%>