<%-include("partials/header.ejs")%>
    <section class="wish">
        <div class="row row-cols-1 gy-5 mx-auto">

            <%if(item&&item.products.length!=0){item.products.forEach(product =>{%>
                <div class="col">

                    <div class="row row-col-1 row-col-md-2">
                        <div class="col">
                            <div class="card mx-auto" style="width: 175px;">
                                <img src="<%=product.imgUrl%> " class="card-img-top" alt="..." height="100px">
                                <div class="card-body">
                                    <p class="card-title">
                                        <%=product.name%>
                                    </p>
                                    <h5 class="card-text">Rs
                                        <%=product.price%>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="my-5" style="text-align: center;">
                                <form action="/deleteFromWish" method="POST">
                                    <input type="hidden" name="id" value="<%=product._id%>">
                                    <button class="btn-delete"><i class="fas fa-trash-alt"></i> Delete from wishList</button>
                                </form>
                            </div>
                            <div class="my-5" style="text-align: center;">
                                <form action="/moveToCart" method="POST">
                                    <input type="hidden" name="id" value="<%=product._id%>">
                                    <button class="btn-move"><i class="fas fa-heart"></i> Move to the Cart</button>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
                <hr>
                <%});}else{%>
                    <div style="padding-top:1rem">
                        <h1 class="my-5 p-md-5 py-5">The Wishlist is Empty!</h1>
                    </div>
                    <%}%>

    </section>
    <%-include("partials/footer.ejs")%>